nav.flex {
  /* margin: 20px auto; */
  
  padding: 20px 5px ;
}
nav.container {
  background-color: antiquewhite;
}

ul.flex {
  gap: 30px;
}

nav.flex,
ul.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li a{
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.logo{
  cursor: pointer;
}